<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <style>
        body {
          background: red;
        }
        
        .centre {
          background: white;
          padding: 10px;
          text-align: center;
        }
        </style>
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<div class="centre">

    <h1>Tekken Reborn</h1>
    <p>Tekken is a worldwide gaming phenomenon. This game has a multitude of characters that you can choose from such can be seen below!</p>
    <img th:src="@{/images/characters.jpeg}" alt="Tekken Reborn">
    </div>
</body>
</html>